.amt-container-inner ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: top 0.2s ease;
}

.amt-container-inner ul li {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.2s ease;
}

.amt-container-inner ul li.amt-selected {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 800;
}

.amt-container-inner ul li.amt-selected-b-1, .amt-container-inner ul li.amt-selected-a-1 {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.amt-container-inner ul li.amt-selected-b-2, .amt-container-inner ul li.amt-selected-a-2 {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.amt-container-inner ul li.amt-selected-b-3, .amt-container-inner ul li.amt-selected-a-3 {
    /* padding-top: 0.6rem;
    padding-bottom: 0.6rem; */
}